"*":
  "atom-beautify":
    general:
      _analyticsUserId: "fa7f81bd-8b3b-4032-9556-0b83e70581c1"
  core:
    audioBeep: false
    disabledPackages: [
      "background-tips"
      "language-gfm"
      "linter-npm-missing"
      "linter-elixirc"
      "markdown-preview"
    ]
    packagesWithKeymapsDisabled: [
      "navigate"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "one-dark-syntax"
    ]
    titleBar: "custom"
  editor:
    fontSize: 15
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "964a9fc2-819c-40ff-9881-809dfed2c355"
  fonts:
    fontFamily: "Hack"
  "goto-definition":
    performanceMode: true
  linter: {}
  "linter-jshint": {}
  "linter-ui-default": {}
  "markdown-preview-plus":
    useGitHubStyle: true
  navigate:
    dblclk: true
    f1: "http://devdocs.io/#q=&searchterm"
    f10: "https://duckduckgo.com/?q=&searchterm"
    f6: "http://www.bing.com/search?q=&searchterm"
    newwindow: true
    openInSameWindow: false
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    core:
      mapTerminalsTo: "Folder"
    style:
      theme: "one-dark"
    toggles:
      autoClose: true
  "seti-ui":
    compactView: true
    disableAnimations: true
    themeColor: "Steel"
  "tool-bar": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
