packages: [
  "aligner"
  "aligner-css"
  "aligner-javascript"
  "ariake-dark-syntax"
  "atom-beautify"
  "atom-wrap-in-tag"
  "auto-update-plus"
  "browse"
  "browser-plus"
  "build"
  "busy"
  "ctrl-dir-scroll"
  "docblockr"
  "editorconfig"
  "expose"
  "goto-definition"
  "language-ansible"
  "language-elixir"
  "language-markdown"
  "linter"
  "linter-ansible-syntax"
  "linter-coffeelint"
  "linter-docker"
  "linter-elixirc"
  "linter-eslint"
  "linter-htmlhint"
  "linter-js-yaml"
  "linter-jsonlint"
  "linter-markdown"
  "linter-npm-missing"
  "linter-pug"
  "linter-shellcheck"
  "linter-swagger"
  "markdown-preview-plus"
  "minimap"
  "monokai-seti"
  "multi-cursor"
  "navigate"
  "open-recent"
  "package-sync"
  "satisfy-dependencies"
  "set-syntax"
  "seti-syntax"
  "seti-ui"
  "sublime"
  "sublime-block-comment"
  "Sublime-Style-Column-Selection"
  "sublime-word-navigation"
  "sublimify"
  "tag"
  "text-manipulation"
]
